@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
} */

body::-webkit-scrollbar {
  display: none;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* shilpboard */
.navbaritem {
  text-decoration: none;
  cursor: pointer;
}
.navbaritem::after {
  content: "";
  border-bottom: 2px solid #141313;
  display: block;
  width: 0%;
  opacity: 0;
  transition: all 0.2s;
}
.navbaritem:hover::after {
  opacity: 1;
  width: 100%;
}

/* sitenote */