@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
} */

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}